Repository al-niessner/DAWGIE, pull requests merged in 2019-12, with the labels that each got.

#71 pass current environment
  Python/dawgie/db/post.py
Labels: bug, dawgie.db

#72 Issue_68: Moved modules out of setup.py to requirements.txt for more …
  Python/requirements.txt
  Python/setup.py
Labels: build process, enhancement

#78 issue 77: emergency fix
  Python/dawgie/de/__init__.py
Labels: bug, dawgie.de
